.blog {
    padding-top: 100px;
    padding-bottom: 100px;
    &__content {
        &-title {
            text-align: center;
            padding-bottom: 48px;
        }
        &-text {
            max-width: 80%;
            padding-bottom: 48px;
            color: $whiteColor;
            font-size: 20px;
            line-height: 1.5;
        }
    }
    &__banner {
        color: $whiteColor;
        background-image: url('../img/blog-page-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50px;
        padding: 100px;
        text-align: center;
        min-height: 530px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__tagbar {
        padding-top: 48px;
        &-list {
            min-height: 85px;
            border-radius: 50px;
            background-color: $deepGreenColor;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // flex-wrap: wrap;
        }
        &-item {
            // padding: 11px 40px;
            // background-color: $deepGreenColor;
            color: $whiteColor;
        }
        &-link {
            font-size: 20px;
            padding: 20px 40px;
            border-radius: 50px;
            text-decoration: none;
            color: $whiteColor;
            transition: all 0.3s ease;
            &:hover {
                background-color: $whiteColor;
                color: $deepGreenColor !important;
            }
        }
    }
    &__posts {
        padding-top: 48px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
    &__item {
        width: 31.9%; // 3 items per line for desktop
        padding-bottom: 48px;
        // Tablet: 2 items per line
        @media (max-width: 1155px) {
            width: 48%;
        }
        // Mobile: 1 item per line
        @media (max-width: $breakpoint768) {
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint992) {
    .blog__tagbar-link {
        font-size: 16px;
        padding: 10px 10px;
    }
}

@media (max-width: $breakpoint768) {
    .blog__banner {
        padding: 20px;
    }
    .blog__content-text {
        max-width: 100%;
    }
}

@media (max-width: $breakpoint480) {
    .blog__tagbar-link {
        padding: 10px 10px;
    }
}