.blog__post {
    &-content {
        width: 100%;
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
        gap: 55px;
    }
    &-wrapper {
        width: 60%;
    }
    &-aside {
        width: 30%;
        .blog__item {
            width: 100%;
        }
        .blog__image-btn {
            // transform: translate(308px, 313px);
        }
    }
    &-title {
        padding-top: 48px;
        &--yellow {
            color: $yellowColor;
        }
    }
    &-text {
        padding-top: 48px;
        font-size: 20px;
        line-height: 1.5;
    }
}

@media (max-width: 1155px) {
    .blog__post-content {
        flex-direction: column;
    }
    .blog__post-wrapper {
        width: 100%;
    }
    .blog__post-aside {
        width: 100%;
    }
}