// ==========================================================================
// Lufga Font Family
// ==========================================================================
@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/LufgaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/LufgaMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/LufgaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lufga';
    src: url('../fonts/Lufga/LufgaSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

// ==========================================================================
// Inter Font Family
// ==========================================================================
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter_24pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}